{% set peer_name = "AS"+peer.asn+"_"+tags.Name+"_to_"+peer.name+"_ipv4" %}
protocol bgp bgp_{{ peer_name }} {

    #	description "My BGP uplink";
    local as 6452{{ tags.vm_index }};

    neighbor {{ peer.peer_ip_address }} as {{ peer.asn }};

    ipv4 {
            import filter {accept;};
            export filter {accept;};
    };
}
