# Configure logging
log syslog all;
# log "/var/log/bird.log" { debug, trace, info, remote, warning, error, auth, fatal, bug };

# Set router ID. It is a unique identification of your router, usually one of
# IPv4 addresses of the router. It is recommended to configure it explicitly.
router id 10.0.10{{ tags.vm_index }}.1;

# You can define your own constants
define my_asn = 6452{{ tags.vm_index }};
# define my_addr = 198.51.100.1;

# Tables master4 and master6 are defined by default
# ipv4 table master4;
# ipv6 table master6;

# The Device protocol is not a real routing protocol. It does not generate any
# routes and it only serves as a module for getting information about network
# interfaces from the kernel. It is necessary in almost any configuration.
protocol device {
}

# "include" statement causes inclusion of a new file. 
# The filename could also be a wildcard, in that case matching files are included in alphabetic order. 
include "kernel_*.conf";
include "direct.conf";
include "static_*.conf";
include "bgp_*.conf";
