# router{{ router_index }}

organization:
  name: {{ organization|upper }}

# Management IP (out-of-band)
oob: {{ public_ip }}

site_local:
  ipv4: 10.0.10{{ router_index }}.1/24
  # Unique Local IPv6
  # https://www.ripe.net/manage-ips-and-asns/ipv6/ipv6-address-types/ipv6addresstypes.pdf
  ipv6: fc00::10{{ router_index }}:1/64

# Docs: 
#  router id IPv4 address
#  Set BIRD's router ID. It's a world-wide unique identification of your router, usually one of router's IPv4 addresses. 
#  Source - https://bird.network.cz/?get_doc&v=20&f=bird-3.html#ss3.2
# Example: https://github.com/CZ-NIC/bird/blob/master/doc/bird.conf.example
router_id: 10.0.10{{ router_index }}.1
# TODO - remove site_id, when in bird.conf.j2 it is replaced with router_id. 
# Bird config statement requires "router id" (not "site id")
# site_id will be here for some time for compatibility with the old template format
site_id: 10.0.10{{ router_index }}.1

# BGP peers
{% block bgp_peers %}
{% endblock %}  
